@charset "ISO-8859-1";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #17273D;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.overlay__content a {
  font-family: "Lucida Console", monospace;
  font-weight: 500;
  color: #EDEFFE;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #A7D5E5;
  padding: 0px 10px;
  font-size:14px;
}

.active-link{
	background-color: #3D5872;
  	color: #17273D;
}

/* Main Image Part */

table{
	width:80%;
	margin-top:93px;
	margin-left:10%;
	text-align:center;
	border:none;
	font-family: "Lucida Console", monospace;
	color:#3D5872;
}
td{
	height:330px;
	border:none;
}

.eBook {
  color:#A7D5E5;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #373B61;
}

.eBook:hover {
  color:black;;
}

#imgMain{
	width:560px;
	height:360px;
}

.secondrow{
	color:#FD9800;
}
.secondrow:hover{
	transform: scale(1.1);
}

/* Footer Part */

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #17273D;
}

.logo {
  margin-right: auto;
}
.bottom__links {
  list-style: none;
  display: flex;
}

.bottom__links a,
.overlay__content a {
  font-family: "Lucida Console", monospace;
  font-weight: 500;
  color: #EDEFFE;
  text-decoration: none;
}

.bottom__links li {
  padding: 0px 20px;
}

.bottom__links li a {
  transition: all 0.3s ease 0s;
}

.bottom__links li a:hover {
  color: #A7D5E5;
}


#copy{
  font-family: "Lucida Console", monospace;
  font-weight: 500;
  color: #EDEFFE;
  text-decoration: none;
  margin-right:auto;
}

.loginTable{
	width:80%;
	margin-top:42px;
	margin-left:10%;
	text-align:center;
	font-family: "Lucida Console", monospace;
	color:#3D5872;
}
td{
	width:560px;
	height:360px;
}

.showTable{
	width:80%;
	margin-top:6px;
	margin-left:8%;
	text-align:center;
	font-family: "Lucida Console", monospace;
	color:#3D5872;
}
td{
	width:560px;
	height:360px;
}

#loginImage{
	width:100px;
	height:100px;
}

#btn1{
	background-color:#3D5872;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 8px 18px;
	border-radius:10px;
	cursor:pointer;
}
#btn1:hover{
	transform: scale(1.1);
}

#btn2{
	background-color:#A7D5E5;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 8px 18px;
	border-radius:10px;
	cursor:pointer;
}
#btn2:hover{
	transform: scale(1.1);
}

#btn3{
	background-color:#3D5872;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 5px 30px;
	border-radius:10px;
	cursor:pointer;
}
#btn3:hover{
	transform: scale(1.1);
}

#btn4{
	background-color:#e49d59;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 5px 30px;
	border-radius:10px;
	cursor:pointer;
}
#btn4:hover{
	transform: scale(1.1);
}

#btn5{
	background-color:27b1e5;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 5px 30px;
	border-radius:10px;
	cursor:pointer;
}
#btn5:hover{
	transform: scale(1.1);
}

#btn6{
	background-color:#009e81;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 5px 30px;
	border-radius:10px;
	cursor:pointer;
}
#btn6:hover{
	transform: scale(1.1);
}

#btn7{
	background-color:#abd9d1;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 5px 30px;
	border-radius:10px;
	cursor:pointer;
}
#btn7:hover{
	transform: scale(1.1);
}


#loginSubmit{
	background-color:#A7D5E5;
	text-align:center;
	font-family: "Lucida Console", monospace;
	padding: 5px 40px;
	border-radius:10px;
	cursor:pointer;
}

#eventImg{
	width:auto;
	height:220px;
}

#eventImg2{
	width:auto;
	height:220px;
}

#eventImg4{
	width:auto;
	height:220px;
}

.registerTable{
	width:85%;
	margin-top:-15px;
	margin-left:10%;
	text-align:center;
	font-family: "Lucida Console", monospace;
	color:#3D5872;
}
td{
	width:560px;
	height:360px;
}